
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.register-text {
  display: inline;
  padding-right: 10px;
}

.login-button {
  margin-right: 275px;
}
